<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    
    {{>navbar}}

    <!-- main div -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">

                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.jpg" alt="zeeshan" class="img-fluid" title="zee">
                        </figure>

                    </div>

                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h4>I Am A <span class="text_clr">Mern Stack Developer</span> Student and Learner</h4>
                        <a href="https://www.linkedin.com/in/zeeshan-saeed-836a60212/"><button>About me</button></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}

</body>

</html>